/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom css start */

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1950px, 0, 0); /* The image width */
    }
}

body {
    font-size: 16px;
}

.container {
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.slidingBackground {
    background-position: center;
    background: url("https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Dio-Brando.Jojo-s-Bizarre-Adventure.webp");
    animation: slide 4s linear infinite;
    width: 200vw;
    height: 100vh;
}

body * {
    transition: all .2s;
    color: blueviolet;
}

body *:hover {
    color: rgb(2, 0, 255);
}

main {
    margin: auto;
    text-align: center;
    background-image: url("https://media.tenor.com/zWmepUWmSSsAAAAe/dio-za-warudo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

main:hover {
    background-size: 70vw;
}

h1 {
    font-size: 6rem;
    background-image: url("https://lh3.googleusercontent.com/tjAELE-pM7t--_o9pwhGIO480XYHnpk75q2IRxgv1V1A5OUJn29a66uEY1OluEcd6463HpPG2TLFwTST8-8FRpeZfgXoRBobZlhi43i_2fWRCO74tzz88q9zu-_MU0gmpjnlewA");
    background-size: 0;
    padding-top: 5vh;
}

h1:hover {
    background-size: 13vw;
}

label {
    display: block;
    background-image: url("https://images4.alphacoders.com/756/756499.jpg");
    background-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2vh 0 1vh 0;
    text-decoration: underline;
}

label:hover {
    width: 50vw;
    height: 50vh;
    background-size: 50vh;
}

input {
    width: 123vw;
    text-align: center;
}

input:hover {
    width: 2vw;
}

button {
    display: block;
    margin: auto;
    background-image: url("https://i.ytimg.com/vi/2NrguqqofmU/maxresdefault.jpg");
    background-size: 0;
    background-color: rgb(255, 105, 180);
}

button:hover {
    font-size: 20rem;
    background-size: 5rem;
}

button.submit {
    background-image: url("https://i.ytimg.com/vi/c8o3qT4TFEE/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCb-4H19sV0OhL-UP9GGxFO14eisQ");
    background-repeat: repeat-y;
    background-size: 100vw;
}

button.submit:hover {
    background-size: 3vw;
    background-color: rgb(0, 255, 0);
}

p {
    font-size: 1rem;
    background-image: url("https://i.ytimg.com/vi/PlgmD-ZjDRU/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBxq5HSQkLofCWlkbHMipEXMvGKmg");
    background-size: 0;
}

p:hover {
    background-size: 13vh;
    height: 10vh;
}